<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello <%= @player.full_name %>!</p>
    <p>Your next match time is:- <%= @schedule %>!</p>
  </body>
</html>